@inherits LayoutComponentBase

<RadzenNotification />

<div class="page">
    <main>
        <article class="content container d-flex align-items-center justify-content-center vh-100">
            <div class="rounded bg-white shadow">
                @Body
            </div>
        </article>
    </main>
</div>
